---
import Directory from "@layouts/directory.astro"

const title = "links"

const links = [
{
title: "Gwern Branwen",
href: "gwern.net",
},
{
title: "Buster's notes",
href: "busterbenson.com",
},
{
title: "Jacky Zhao's hypertext garden",
href: "jzhao.xyz",
},
{
title: "kepano",
href: "stephango.com",
},
{
title: "Andrej Karpathy",
href: "karpathy.ai",
},
{
title: "qtnx.ai",
href: "qtnx.ai",
},
{
title: "hitorilabs",
href: "hitorilabs.com",
},
{
title: "echo4eva",
href: "echo4eva.com",
},
{
title: "cunjur",
href: "1λ.com",
},
{
title: "snats",
href: "snats.xyz",
},
{
title: "mani's lair",
href: "riemani.ca",
},
{
title: "Arne Bahlo",
href: "arne.me",
},
{
title: "kezie",
href: "kez.ie",
},
{
title: "kache",
href: "yacine.ca",
},
{
title: "Derek Sivers",
href: "sive.rs",
},
{
title: "Julia Evans",
href: "jvns.ca",
},
{
title: "Chia's blog",
href: "chias.blog",
},
{
title: "Theia Vogel",
href: "vgel.me",
},
{
title: "nerdy pepper's musings",
href: "peppe.rs",
},
{
title: "Spencer Chang",
href: "www.spencerchang.me",
},
{
title: "shen",
href: "shen.land",
},
]

const newsletters = [
{
title: "astral codex ten",
href: "www.astralcodexten.com"
},
{
title: "the map is mostly water",
href: "map.simonsarris.com"
},
]

---

<Directory title={title}>
    <div class="mt-9">
        <h1>{title}</h1>
        <p class="my-3 ">this is a list of digital gardens, web blogs, and various personal sites i
            adore and/or draw
            inspiration from.</p>
    </div>
    <ul class="m-6 list-disc font-['TT2020']">
        {
        links.map(l => (
        <li>
            <b>{l.title}</b> /
            <a href={"https://" + l.href} target="_blank" rel="noopener noreferrer">{l.href}</a>
        </li>
        ))
        }
    </ul>
    <div class="mt-9">
        <h1 class="text-5xl font-bold font-serif font-['TT2020']">newsletters</h1>
        <p class="my-3">this is a list of newsletters i am subscribed to.
    </div>
    </p>
    <ul class="m-6 list-disc font-['TT2020']">
        {
        newsletters.map(l => (
        <li>
            <b>{l.title}</b> /
            <a href={"https://" + l.href} target="_blank" rel="noopener noreferrer">{l.href}</a>
        </li>
        ))
        }
    </ul>
</Directory>
